<div style="padding: 10px 50px 10px 50px;">
  <h4>რეგისტრაცია</h4>
    <mat-form-field class="with-100">
      <input matInput placeholder="სახელი" #name>
    </mat-form-field>
    <mat-form-field class="with-100">
      <input matInput placeholder="ელ. ფოსტა" #email>
    </mat-form-field>
    <mat-form-field class="with-100">
      <input matInput placeholder="პაროლი" #password>
    </mat-form-field>
    <mat-form-field class="with-100">
      <input matInput placeholder="გაიმეორეთ პაროლი" #password_confirmation>
    </mat-form-field>
    <div>
      <button mat-button style="background-color: #212529; color: white" (click)="registration()">რეგისტრაცია</button>
    </div>
</div>
