<div class="header">
  <div class="top-section">
    <div class="top-bar">
      <div class="top-menu">
        <a href="#">კონტაქტი</a>
        <a href="#">რეკლამა</a>
      </div>
      <div class="top-auth">
        <div class="search">

        </div>
        <div class="auth">
          <a routerLink="/register">რეგისტრაცია</a>
          <a (click)="openLoginDialog()" class="auth-btn"><mat-icon class="auth-icon">lock</mat-icon>ავტორიზაცია</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mid-section">
    <a routerLink="/">
      <div class="logo">
      </div>
    </a>
  </div>
  <div class="bottom-section">
    <ul>
      <li><a href="">ახალი ამბები</a></li>
      <li><a href="">ახალი ამბები</a></li>
      <li><a href="">LIVESCORE</a></li>
    </ul>
  </div>
</div>
