<div class="header">
  <div class="top-section">
    <div class="top-bar">
      <div class="top-menu">
        <a routerLink="/">მთავარი გვერდი</a>
        <a routerLink="/contact">კონტაქტი</a>
        <a >რეკლამა</a>
      </div>
      <div class="top-auth">
        <div class="search">

        </div>
        <ng-container *ngIf="userDataAvailable">
          <ng-container *ngIf="isLogged">
            <span class="add_article_btn" routerLink="/article/create">+პოსტის დამატება</span>
            <span>გამარჯობა - {{user.name}}</span> &nbsp;
            <button mat-button (click)="logout()" style="background-color: #1A232E; height: 36px;">გასვლა</button>
          </ng-container>
          <ng-container *ngIf="!isLogged">
            <div class="auth">
              <a routerLink="register">რეგისტრაცია</a>
              <a (click)="openLoginDialog()" class="auth-btn"><mat-icon class="auth-icon">lock</mat-icon>ავტორიზაცია</a>
            </div>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
  <div class="mid-section">
    <a routerLink="/">
      <div class="logo">
      </div>
    </a>
  </div>
  <div class="bottom-section">
    <ul>
      <li><a routerLink="/">ახალი ამბები</a></li>
      <li><a href="">ახალი ამბები</a></li>
      <li><a href="">LIVESCORE</a></li>
    </ul>
  </div>
</div>
