<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="left-side">
      <router-outlet></router-outlet>



    </div>
    <app-right-side></app-right-side>
  </div>
  <div class="footer">
    <div class="bottom-menu">
      <div class="bottom-menu2">
        <ul>
          <li><a href="">menu</a></li>
          <li><a href="">menu</a></li>
          <li><a href="">menu</a></li>
        </ul>
      </div>
      <div class="counter">counters</div>
    </div>
    <div class="copy">
      <span>&copy;2019 ყველა უფლება დაცულია.</span>
    </div>
  </div>
</div>
