<div style="display: flex; justify-content: space-between; cursor: pointer;">
  <h1 mat-dialog-title class="font">ავტორიზაცია</h1>
  <mat-icon (click)="dialogClose()">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-form-field class="with-100">
    <input matInput placeholder="სახელი">
  </mat-form-field>
  <mat-form-field class="with-100">
    <input matInput type="password" placeholder="პაროლი">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button routerLink="/register" (click)="dialogClose()">რეგისტრაცია</button>
  <button mat-button style="background-color: #08b270; color: white;" (click)="onNoClick()">შესვლა</button>
</div>
