<div class="daily-news">
<div class="daily-news-template">
<div class="daily-news-title">დღის მნიშვნელოვანი მოვლენები</div>

</div>
<div class="daily-news-content">
<div class="daily-news-poster">
<img width="240px" src="https://goal.ge/uploads/posts/2019-05/1557069532_cristiano-ronaldo-juventus-2018-19_p93ut7cme7j1n8yjorymunzt.jpg" alt="">
</div>
<div class="daily-news-text">
<div class="daily-news-text-title">მისია რთულდება - ასდ ასდასდ ას</div>
<div class="daily-news-text-description">
მისია რთულდება - რამდენი გოლი სჭირდება რონალდუს სერია ა-ს საუკეთესო ბომბარდირობისთვის?
</div>
</div>
</div>
</div>
<div class="daily-news-content">
<div class="daily-news-poster">
<img width="240px" src="https://goal.ge/uploads/posts/2019-05/thumbs/1557123584_conor-mcgregor-39.png" alt="">
</div>
<div class="daily-news-description">
მისია რთულდება - რამდენი გოლი სჭირდება რონალდუს სერია ა-ს საუკეთესო ბომბარდირობისთვის?
</div>
</div>
